nav {
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.navbar-brand {
  margin-left: 5%;
}
li a {
  color: #a2a2a2;
  text-decoration-style: none;
  border: 3px solid rgb(245, 245, 245);
}
li a:hover {
  color: #192f59;
  text-decoration-line: none;
  border-bottom: 3px solid #192f59;
}
.nav-right {
  display: flex;
  margin-left: 40%;
  color: #a2a2a2;
  border: 3px solid rgb(245, 245, 245);
}
.helpnav {
  color: #a2a2a2;
  border: 3px solid rgb(245, 245, 245);
}
.helpnav:hover {
  color: #192f59;
  text-decoration-line: none;
  border-bottom: 3px solid #192f59;
}
.icon {
  margin-left: 1%;
}
